body {
  background-color: var(--fondo);
  color: var(--blanco);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fondo: #1B2833;

  --base: #032CA6;
  --sombra-base: #241FBF;
  --luz-base: #3269D9;

  --negro: #3B2559;
  --blanco: #F2B33D;

  /*  */

  --padding-chico: 1rem;
  --padding-normal: 1.5rem;
  --padding-grande: 2rem;

  /*  */

  --gap-chico: 1rem;
  --gap-normal: 1.5rem;
  --gap-grande: 2rem;
}

.contenedor {
  display: grid;

  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  gap: 12px;
  grid-auto-rows: 200px;
  grid-auto-flow: column;
  grid-auto-columns: 50px;

  background-color: rgb(70, 158, 158);
}

.tarjeta {
  display: flex;
  flex-direction: column;

  background-color: #3B2559;

  align-items: center;
  border-radius: 10%;

  overflow: hidden;
  max-width: 400px;

  gap: var(--gap-grande);
  
}

.imagen {
  display: block;
}

.texto {
  align-items: center;
  padding: var(--padding-chico);
}

.boton {
  border: none;
  padding: var(--padding-chico);
}