body {
  background-color: var(--fondo);
  color: var(--blanco);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fondo: #1B2833;

  --base: #032CA6;
  --sombra-base: #241FBF;
  --luz-base: #3269D9;

  --negro: #3B2559;
  --blanco: #F2B33D;

  /*  */

  --padding-maschico: 0.5rem;
  --padding-chico: 1rem;
  --padding-normal: 1.5rem;
  --padding-grande: 2rem;

  /*  */

  --gap-maschico: 0.5rem;
  --gap-chico: 1rem;
  --gap-normal: 1.5rem;
  --gap-grande: 2rem;

  /*  */

  --letra-maschico: 0.77rem;
  --letra-chico: 1rem;
  --letra-normal: 1.5rem;
  --letra-grande: 2rem;
}

.cotenedor {
  background-color: #1B2833;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: var(--padding-grande);
  gap: var(--gap-grande);
  grid-auto-rows: 40px;
  grid-auto-flow: row;
  grid-auto-columns: 50px;
  
  margin: auto 0;

  background-color: rgb(70, 158, 158);
}

.tarjeta {
  display: flex;
  flex-direction: column;

  background-color: #3B2559;

  align-items: center;
  border-radius: 5%;

  overflow: hidden;
  max-width: 400px;
  
}

.imagen {
  display: block;
  height: 100%;
  width: 100%;
}

.contenido{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: var(--padding-chico);
  background-color: var(--luz-base);
  gap: var(--gap-maschico);
  
}

.titulo {
  color: var(--sombra-base);
  font-size: var(--letra-normal)
}

.descripcion {
  color: var(--sombra-base);
  font-size: var(--letra-maschico);
}

.boton {
  border: none;
  padding: var(--padding-maschico);
  background-color: var(--blanco);
  color: var(--negro);
  border-radius: 10%;
  font-size: var(--letra-maschico);
}


/* media queries */

/* Tablets => 1023px */

@media screen and (max-width: 1023px) {
  .cotenedor {
    grid-template-columns: 1fr 1fr;
  }

  /* mobile => 435px */

@media screen and (max-width: 435px) {
 .cotenedor {
  grid-template-columns: 1fr;
 }